@import "tailwindcss";



@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

.neon-button {
  position: relative;
  overflow: hidden;
}

.neon-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 14px;
  background: linear-gradient(45deg, #8b00ff, #ff1493);
  z-index: -1;
}


/* Ensure button itself is opaque */
.neon-button button {
  background-color: #8b00ff !important;
}